.cursor-pointer {
    cursor: pointer !important;
}

.w-10 {
    width: 10% !important;
}

.rounded {
    border-radius: 1rem !important;
}

.form-control.ng-select {
    border: none;
    padding: 0;
}